<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejercicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <h1 style="text-align: center; color: black;"><b>{{ displayMessage }}</b></h1>
  <br>
  <ion-input [(ngModel)]="inputMessage" style="text-align: center; color: black;" placeholder="Escribe el mensaje"></ion-input>
  <br>
  <ion-button (click)="enviarMensaje()" style="text-align: center;" expand="block">Enviar</ion-button>
  <ion-button (click)="borrarMensaje()" style="text-align: center;" expand="block">Borrar</ion-button>
</ion-content>
